.hero-section__button {
    padding-top: 2em;
}

.button {
    font-size: $x-large;
    padding: 0.5em 1em;
    background-color: $white;
    border: 2px solid $smoky-black;

    &:hover {
        border: 2px solid $light-gray;
    }

    &:focus {
        color: $light-gray;
        border-color: $light-gray;
    }
}